@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
.logoReservia {
    margin-left: 1rem;
}

body {
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 1em
}

* {
    font-family: "Raleway", "Sans serif";
    list-style: none;
    /*border:1px solid #F34607 */
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width:640px) {
    .container {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (max-width:640px) {
    .zoneDeRecherche.container {
        padding-right: 0px;
        padding-left: 0px;
    }
}

header .main-container .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: 1000px) {
    section#activites {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1000px) {
    .container {
        width: 90vw;
    }
}

.menutrait li.nav-activite {
    margin-top: 5px !important;
}

.s-mob {
    margin-top: 5px;
}

.nav-hebergement {
    text-align: center;
    border-bottom: 3px solid #0065FC;
    border-top: 0px solid #0065FC;
    margin: 15px 0;
}

@media(min-width: 991px) {
    .nav-hebergement {
        text-align: center;
        border-top: 3px solid #0065FC;
        border-bottom: 0px solid #0065FC;
        margin: 15px 0;
    }
}

@media(max-width: 991px) {
    .main-container {
        padding: 0;
        position: relative;
        padding-bottom: 56px;
    }
    .nav-activite {
        text-align: center;
        border-bottom: 3px solid #99999960;
        min-width: 50%;
        margin: auto 0;
        padding: 15px 0;
    }
    .nav-hebergement {
        text-align: center;
        padding: 15px 0;
        margin: inherit;
        min-width: 50%;
        margin: auto 0;
    }
    @media(max-width: 991px) {
        .nav-hebergement {}
    }
    .menutrait {
        position: absolute;
        width: 110%;
        bottom: 0;
        left: 0;
        justify-content: space-between;
        align-content: center;
        margin-left: -5%;
    }
    .s-mob {
        margin-left: -34%;
    }
    header .main-container .header-container nav ul {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media(min-width: 991px) {
    header .main-container .header-container nav ul li {
        margin: 0 20px;
        padding-top: 20px;
    }
}

@media(min-width: 990px) {
    header .main-container .header-container nav ul li {
        padding-top: 20px;
    }
}

header .main-container .header-container nav,
header .main-container .header-container nav ul {
    flex-direction: row;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

@media(min-width: 991px) {
    header .main-container .header-container nav,
    header .main-container .header-container nav ul {
        margin-top: 0px;
        flex-direction: row;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
    }
}

header .main-container .header-container nav ul li:first-child,
header .main-container .header-container nav a.sinscrire {
    color: #0065FC;
    margin-bottom: 0px;
}

header {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding: 0;
}

@media (max-width:640px) {
    header {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2.5%;
    }
}

.menutrait {
    display: flex;
    flex-wrap: wrap;
}

.nav-hebergement,
.nav-activite {
    order: 2;
    flex: 0 1
}

.nav-sinscrire {
    order: 1;
    flex: 0 1 100%;
}


/*
Zone de recherche
*/

.zoneDeRecherche h1 {
    margin: 15px 0 0 0;
    display: flex;
    flex-direction: column;
}

form.recherche button[type="none"] {
    background: #F2F2F2;
    border: 1px #F2F2F2 solid;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 15px 0 0 15px;
    padding-top: 7px;
    padding-bottom: 10px;
}

form.recherche button[type="submit"] {
    display: flex;
    background: #0065FC;
    border: 1px #0065FC solid;
    border-radius: 0 15px 15px 0;
    color: #FFF;
    height: 43px;
    padding: 0px 15px;
}

@media (max-width:640px) {
    form.recherche button[type="submit"] {
        border-radius: 15px 15px 15px 15px !important;
        margin-left: -15px !important;
    }
}

@media (max-width:640px) {
    p.textbtn {
        display: none;
    }
}

@media (min-width:640px) {
    p.textbtn2 {
        display: none;
    }
}

form.recherche {
    display: flex;
    text-align: inherit;
}

@media (max-width:640px) {
    form.recherche {
        display: flex;
        text-align: center !important;
    }
}

form.recherche input {
    background: transparent;
    border: 1px #F2F2F2 solid;
    padding: 11px 5vw;
    margin-left: -4px;
    height: 20px;
}


/*
Filtres
*/

.boutonfiltre p {
    font-weight: bold;
    font-size: 15px;
}

.filtres {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.filtres,
.filtres .content {
    display: flex;
    flex-flow: row wrap;
}

.filtres .title {
    margin-bottom: 20px;
    padding-top: inherit;
    padding-right: 20px;
}

.filtres .boutonfiltre {
    display: flex;
    justify-content: space-between;
    border-radius: 200px;
    border: 2px #F2F2F2 solid;
    height: 50px;
    position: relative;
    padding-left: 55px;
    padding-right: 14px;
    margin-right: 20px;
    margin-bottom: 10px;
    transition: transform .2s;
    cursor: pointer;
}

.filtres .boutonfiltre:hover {
    transform: scale(1.05);
}

.filtres .boutonfiltre:first-child {
    margin-left: 0;
}

.filtres .boutonfiltre:last-child {
    margin-right: 0;
}

.filtres .boutonfiltre i {
    line-height: 50px;
    color: #0065FC;
    position: absolute;
    width: 50px;
    text-align: center;
    background: #DEEBFF;
    left: -2px;
    border-radius: 100%;
}

.boutonfiltre p {
    margin: auto;
}

.nombrelogementstxt {
    padding: 5px 0;
    display: inline-flex;
}

.nombrelogementstxt i {
    border: 2px solid #F2F2F2;
    width: 29px;
    line-height: 25px;
    font-size: 14px;
    color: #0065FC;
    text-align: center;
    border-radius: 100%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 29px;
}

p.NbLogements {
    margin: auto;
    padding-left: 3px;
}


/* main & body */


/* hebergemennts */

.LesPlusPopulaires .etoilesnote {
    position: absolute;
    bottom: 5%;
}

figure:hover {
    transform: scale(1.02);
}

.item:hover {
    transform: scale(1.02);
}

.reservation.container {
    display: flex;
    flex-flow: row wrap;
}

#hebergement .hebergementsClassiques {
    order: 1;
    flex: 1;
    margin-right: 3%;
}

@media (max-width:640px) {
    #hebergement .hebergementsClassiques {
        order: 1;
        flex: 1;
        margin-right: 0%;
    }
}

#hebergement .LesPlusPopulaires {
    order: 2;
    flex: 0 1 35%;
}

@media (max-width:640px) {
    #hebergement .LesPlusPopulaires {
        order: 0;
        flex: 0 1 100%;
    }
}

#hebergement .fondgris {
    background: #F2F2F2;
    border-radius: 20px;
    padding: 30px 25px;
    min-height: 519px;
    margin-bottom: 20px;
}

@media (max-width:640px) {
    #hebergement .fondgris {
        background: #F2F2F2;
        border-radius: 0px !important;
        padding: 30px 25px;
        min-height: 519px;
        margin-bottom: 0px;
    }
}

#hebergement .fondgris .group-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 20px;
}

@media (max-width:640px) {
    #hebergement .fondgris .group-item {
        flex-direction: column;
    }
}

@media (max-width:640px) {
    .hebergementsClassiques .fondgris {
        background: white !important;
    }
}

@media (max-width:640px) {
    #hebergement .fondgris {
        flex-direction: column;
    }
}

#hebergement .fondgris .group-item figure {
    width: calc(100% / 3.3);
    background: #FFF;
    padding: 0.3rem;
    border-radius: 1.25rem;
    margin: 0 0 30px 0;
    box-shadow: 0px 0px 10px #55555538;
    cursor: pointer;
    transition: transform .2s;
}

@media (max-width:640px) {
    #hebergement .fondgris .group-item figure {
        transform: scale(1.05);
        width: auto;
    }
}

#hebergement .fondgris .group-item figure figcaption {
    padding: 10px;
    position: relative;
}

#hebergement .fondgris .group-item figure figcaption p {
    margin: 0;
}

#hebergement .fondgris .group-item figure figcaption p:first-child {
    font-size: 14px;
}

#hebergement .fondgris .group-item figure figcaption p:nth-child(2) {
    font-size: 12px;
    margin: 5px 0;
}

#hebergement .fondgris .group-item figure figcaption i {
    color: #0065FC;
    font-size: 12px;
}

#hebergement .fondgris .group-item figure img {
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

#hebergement .LesPlusPopulaires .group-item {
    flex-direction: column;
}

#hebergement .LesPlusPopulaires .group-item figure {
    width: auto;
    display: flex;
    flex-direction: row;
}

#hebergement .LesPlusPopulaires .group-item figure img {
    max-width: 100px;
    max-height: initial;
    height: 115px;
    border-radius: 20px 0 0 20px;
}

#hebergement h1,
#hebergement .stonk {
    display: flex;
    justify-content: space-between;
}

#hebergement h1 i {
    margin: auto 0;
}


/* Activités à Marseille */

.txtActiviteVille {
    padding: 0px 0px 0px 20px;
}

.txtActivite {
    padding: 0px 0px 0px 20px;
}

.activiteContainer .fondgris h1 {
    margin-left: 25px;
}

.activiteContainer .flex-container {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    padding: 15px 15px;
}

#ActiviteAMarseille {
    width: 70%;
    margin-right: 25px;
}

#ActiviteAMarseille .fondgris {
    width: 35%;
}

#ActiviteAMarseille {
    display: flex
}

#activites ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

#activites ul li {
    padding: 3px;
    background: #FFF;
    border-radius: 20px;
    margin: 0 0 30px 0;
    -webkit-box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
    box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
}

#activites ul li img {
    height: 100%;
    max-height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

@media(min-width: 991px) {
    #activites .group-item {
        width: 50%;
        display: flex;
    }
    #activites .group-item .columndouble,
    #activites .group-item .column {
        max-width: 45%;
        min-width: 45%;
        margin: auto;
    }
    #activites .group-item .column,
    #activites .group-item .column .item {
        height: 100%;
    }
    #activites .group-item .column .item .activiteimg,
    #activites .group-item .column .item .activiteimg img {
        height: 80%;
        max-height: initial;
        height: 92%;
        margin-bottom: -9%;
    }
}

#activites .group-item .column {
    display: flex;
    flex-direction: column;
    order: 1;
    flex: 1;
}

#activites .group-item .columndouble {
    display: flex;
    flex-direction: column;
    order: 2;
    flex: 0 1 35%;
}

#activites .group-item .item {
    width: 100%;
    background: #FFF;
    border-radius: 20px;
    margin: 0 0 30px 0;
    -webkit-box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
    box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
    cursor: pointer;
    transition: transform .2s;
}

#activites .group-item .item:hover {
    transform: scale(1.05);
}

#activites .group-item .item img {
    height: 100%;
    max-height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}


/* footer */

footer {
    background-color: #F2F2F2;
    bottom: 0;
    border-top: 0;
    position: inherit;
    justify-content: space-around;
    display: flex;
}

@media (max-width:640px) {
    footer {
        flex-flow: row wrap;
    }
}

.bloc-footer {
    padding: 20px;
    width: 100%;
    padding-left: 10%;
}

ul.liste {
    color: #464646;
    padding: 0;
    line-height: 2rem;
}

#footer .bloc-footer .liste {
    flex-shrink: 1;
    list-style: none;
}

#footer a li {
    text-decoration: none;
    color: black;
}